*{
	margin:0;
	padding:0;
	line-height:1;
	font-family:Microsoft Yahei;
}
ul, ol{
	list-style:none;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	border:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
em, i{
	font-style:normal;
}